<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jesseract -- image to text conversion.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel='stylesheet' href='@routes.Assets.at("css/bootstrap.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("css/bootstrap-responsive.css")'>

    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="brand" href="#">Project name</a> -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
			<li><a href="#contact">Get Started!</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In!<b class="caret"></b></a>
                <ul class="dropdown-menu">

					<form class="navbar-form">
					<div class="centeredForm">
						&nbsp &nbsp <input class="span2" type="text" placeholder="Email"> &nbsp
						<br>
						&nbsp &nbsp <input class="span2" type="password" placeholder="Password">
						<br>
						&nbsp &nbsp <button type="submit" class="btn">Sign in</button>
						
					</div>	
					</form>
					<li>
					<li><a href="/forgotPassword.html">Forgot Password?</a></li>
                </ul>
              </li>
			  
			  <li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
	  <div class = "centeredForm">
	  <h2>jesseract: an image to text converter</h2>
	  
	 
	<div class="main-form">
      @helper.form(action = routes.MainController.uploadFile, 'enctype -> "multipart/form-data") {
    
    <input type="file" name="picture" id="imgInp">
    
    <p>
        <input type="submit" value="Submit...">
    </p>
    
        }
      </div>
        
      <div class="upload-image-preview">
	  <img id="uploaded-image" src="#" alt="" />
	  
	
	  
	  </div>
	  
	  </div>
	     
	  
      </div>
	  

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery-1.9.1.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
	<script>							   
	function readURL(input) {

    if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#uploaded-image').attr('src', e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}
	}

		$("#imgInp").change(function(){
		readURL(this);
	});
	</script>
	<script>
		function formSubmit()
		{
		document.getElementById("pictureForm").submit();
		alert("thanks");
		}
	</script>
	
  </body>
</html>
